################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLInjectionSample/.vs
/SQLInjectionSample/packages
/SQLInjectionSample/SQLInjectionSample/bin
/SQLInjectionSample/SQLInjectionSample/obj/Debug
